// Media Breakpoints
$breakpoint-mobile-mini: 320px;
$breakpoint-mobile: 370px;
$breakpoint-mobile-pro: 480px;
$breakpoint-mobile-standard: 529px;
$breakpoint-mobile-medium: 670px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-medium: 813px;
$breakpoint-laptop-small: 892px;
$breakpoint-laptop: 1050px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-medium: 1265px;
$breakpoint-desktop-large: 3000px;

@media screen and (min-width: $breakpoint-desktop-large) {
  main {
    .first_page {
      padding: 80px 120px;

      .more_info {
        p {
          padding: 30px 0;
        }
      }
    }

    .third_page {
      .image_container img {
        width: 90%;
      }

      .text_container p {
        margin-bottom: 64px;
      }
    }

    .fourth_page {
      .fourth_page_text {
        padding: 0 80px 40px;

        p {
          margin-bottom: 64px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-desktop-medium) {
  main .fourth_page {
    flex-wrap: wrap;

    .fourth_page_text {
      margin-bottom: 10px;
    }
  }
  .fifth_page {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: $breakpoint-desktop) {
  main .fifth_page .review_containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: $breakpoint-laptop) {
  main {
    .third_page {
      flex-wrap: wrap;
      margin-bottom: 106px;

      //.text_container {
      //  padding: 0 180px 40px;
      //}

      .image_container .background_image2 {
        display: none;
      }
    }

    .fourth_page {
      flex-wrap: wrap;

      .fourth_page_text {
        margin-bottom: 10px;
      }
    }
  }

}

@media screen and (max-width: $breakpoint-laptop-small) {
  main {
    .first_page {
      flex-wrap: wrap;
      gap: 30px;
    }

    .second_page {
      .furniture_carousel {
        padding: 0 280px;
      }
    }
  }
  footer .footer_container1 {
    flex-wrap: wrap;

    .footer_links {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet-medium) {
  main {
    //.second_page {
    //  .furniture_carousel {
    //    padding-left: 245px;
    //  }
    //}
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  header nav ul {
    flex-wrap: wrap;
  }

  main {
    .second_page {
      .furniture_carousel {
        padding: 0 200px;
      }
    }

    .first_page {

      h2 {
        padding: 5px;
      }
    }

    .fourth_page_images {
      flex-wrap: wrap;

      .fourth_page_images2 {
        width:5rem;
        height: 10rem;
      }
    }
  }
  footer .footer_container2 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: $breakpoint-mobile-medium) {
  main {
    .general_background{
      box-shadow: inset 0 -60px 50px -10px rgba(255, 255, 255, 1.0);
    }
    .second_page {
      .furniture_carousel {
        padding: 0 120px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile-standard) {
  header nav {
    flex-wrap: wrap;
  }
  main {
    .general_background .top_text_page .main_text {

      padding-top: 267px;

      h1 {
        font-size: 50px;
      }
    }

    .second_page {
      .furniture_carousel {
        padding: 0 115px;
      }
    }

    .third_page {
      margin-bottom: 86px;

      .text_container {
        padding: 20px;

        h2 {
          font-size: 30px;
        }
      }
    }

    .fourth_page .fourth_page_text {
      padding: 20px;

      h2 {
        font-size: 30px;
      }
    }
  }
  footer {
    .footer_container1 {
      padding: 20px;
    }

    .footer_container2 {
      padding: 20px;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile-pro) {
  main {
    .first_page {
      .more_info {
        gap: 25px;
        flex-wrap: wrap;
      }
    }

    .second_page {
      .furniture_carousel {
        padding: 0 65px;
      }

      .furniture_card .furniture_card_info .price {


        flex-wrap: wrap;
      }
    }

    .fourth_page {
      .fourth_page_images {
        justify-content: left;
      }
    }
    .fifth_page {
        .review_containers {
          padding: 0 5px;
        }

    }
  }

}

@media screen and (max-width: $breakpoint-mobile) {
  main {
    .general_background .top_text_page .main_text {
      padding-top: 367px;
    }

    .second_page {
      .furniture_carousel {
        padding: 0 35px;
      }
    }

    .fourth_page_images2 {
      width: 300px;
      height: 100%;

    }
  }
}

@media screen and (max-width: $breakpoint-mobile-mini) {
  main {
    .general_background {
      padding: 40px 20px 60px 10px;

      .top_text_page {
        .main_text {
          h1 {
            font-size: 40px;
          }

          .slogan_text p {
            font-size: 20px;
          }
        }
      }
    }

    .first_page {
      padding: 20px;

      .more_info {
        flex-wrap: wrap;
      }
    }

    .fourth_page {
      margin-bottom: 86px;

      .fourth_page_text {
        padding: 20px;

        h2 {
          font-size: 30px;
        }
      }

      .fourth_page_images2 {
        display: none;

      }
    }

    .fifth_page {
      padding: 5px;

      .fifth_page_text h2 {
        font-size: 30px;
      }
    }
  }
}





