@font-face {
  font-family: 'gilroyblack';
  src: url("../fonts/gilroy-black-webfont.eot");
  src: url("../fonts/gilroy-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-black-webfont.woff2") format("woff2"), url("../fonts/gilroy-black-webfont.woff") format("woff"), url("../fonts/gilroy-black-webfont.ttf") format("truetype"), url("../fonts/gilroy-black-webfont.svg#gilroyblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gilroybold';
  src: url("../fonts/gilroy-bold-webfont.eot");
  src: url("../fonts/gilroy-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold-webfont.woff2") format("woff2"), url("../fonts/gilroy-bold-webfont.woff") format("woff"), url("../fonts/gilroy-bold-webfont.ttf") format("truetype"), url("../fonts/gilroy-bold-webfont.svg#gilroybold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gilroyblack_italic';
  src: url("../fonts/gilroy-blackitalic-webfont.eot");
  src: url("../fonts/gilroy-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-blackitalic-webfont.woff2") format("woff2"), url("../fonts/gilroy-blackitalic-webfont.woff") format("woff"), url("../fonts/gilroy-blackitalic-webfont.ttf") format("truetype"), url("../fonts/gilroy-blackitalic-webfont.svg#gilroyblack_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gilroybold_italic';
  src: url("../fonts/gilroy-bolditalic-webfont.eot");
  src: url("../fonts/gilroy-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bolditalic-webfont.woff2") format("woff2"), url("../fonts/gilroy-bolditalic-webfont.woff") format("woff"), url("../fonts/gilroy-bolditalic-webfont.ttf") format("truetype"), url("../fonts/gilroy-bolditalic-webfont.svg#gilroybold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid green;
  border-radius: 50%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  animation: loading 1s linear 3, fadeOut 0.1s ease-out 2.9s forwards;
  /* Fade out near the end of the last rotation */ }

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden;
    /* Makes the element completely undetectable after fading */ } }
header > a {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center; }
  header > a:first-of-type {
    position: absolute;
    top: 40px;
    left: 80px;
    z-index: 8; }
    header > a:first-of-type:hover {
      transform: rotate(360deg); }
  header > a:nth-of-type(2) {
    position: absolute;
    top: 40px;
    right: 80px;
    z-index: 8; }
    header > a:nth-of-type(2):hover {
      transform: rotate(180deg); }
header nav {
  align-items: center;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 47px 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  margin-bottom: 92px; }
  header nav ul {
    display: flex;
    list-style: none;
    gap: 65px;
    justify-content: center; }
    header nav ul li a {
      font-family: 'Gilroy-BoldItalic', sans-serif;
      color: #FFFF;
      font-size: 18px;
      font-weight: 400;
      line-height: 100%;
      text-decoration: none; }
    header nav ul li:first-of-type {
      position: relative; }
      header nav ul li:first-of-type:after {
        content: '';
        background-image: url("../images/Vector.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 7px;
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block; }
    header nav ul li:hover {
      color: #FFFF;
      transition: 0.3s;
      transform: scale(1.3); }

main {
  margin: 0 auto; }
  main .general_background {
    background-image: url("../images/main_background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 80px 60px 80px;
    position: relative;
    box-shadow: inset 0 -100px 50px -10px white; }
    main .general_background .top_text_page .main_text {
      max-width: 861px;
      margin: 0 auto;
      justify-content: center;
      padding-top: 167px; }
      main .general_background .top_text_page .main_text h1 {
        font-family: "gilroybold", sans-serif;
        text-align: center;
        color: #FFFF;
        font-size: 80px;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 20px; }
      main .general_background .top_text_page .main_text .slogan_text {
        max-width: 606px;
        justify-content: center;
        margin: auto; }
        main .general_background .top_text_page .main_text .slogan_text p {
          font-family: "gilroy_italic", sans-serif;
          text-align: center;
          color: #FFFF;
          font-size: 24px;
          font-weight: 400;
          line-height: 160%;
          letter-spacing: 0;
          margin-bottom: 45px; }
    main .general_background .top_text_page .search_form {
      justify-content: center;
      position: relative;
      max-width: 344px;
      height: 56px;
      display: flex;
      margin: 0 auto; }
      main .general_background .top_text_page .search_form input {
        width: 100%;
        height: 100%;
        border-radius: 42px;
        border: 0.86px solid #FFFFFF;
        padding: 8px 8px 8px 20px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%; }
      main .general_background .top_text_page .search_form button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center; }
        main .general_background .top_text_page .search_form button img {
          width: 40px;
          height: 40px; }
        main .general_background .top_text_page .search_form button:hover {
          opacity: 0.8; }
        main .general_background .top_text_page .search_form button:active {
          transform: translateY(-50%) scale(0.95); }
  main .first_page {
    gap: 130px;
    padding: 80px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #1E1E1E;
    display: flex;
    justify-content: center;
    position: relative; }
    main .first_page h2 {
      font-family: 'gilroybold', sans-serif;
      font-size: 42px;
      font-weight: 400;
      line-height: 100%;
      padding: 20px; }
    main .first_page .more_info {
      display: flex;
      justify-content: space-between;
      gap: 28px;
      margin-bottom: 100px; }
      @media screen and (max-width: 1120px) {
        main .first_page .more_info {
          gap: 80px; } }
      main .first_page .more_info h3 {
        font-family: 'gilroybold', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 20px; }
      main .first_page .more_info p {
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 185%;
        color: #1e1e1e;
        margin-bottom: 14px; }
      main .first_page .more_info a {
        font-family: 'Gilroy-Regular', sans-serif;
        text-decoration: none;
        color: #E58411;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%; }
        main .first_page .more_info a:after {
          content: '';
          display: inline-block;
          width: 39px;
          height: 13px;
          background-image: url("../images/right_arrow.svg");
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 10px; }
        main .first_page .more_info a:hover {
          color: #b6690d; }
  main .second_page {
    background-color: #F7F7F7;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 306px; }
    main .second_page h2 {
      font-family: 'gilroybold', sans-serif;
      font-weight: 400;
      font-size: 42px;
      color: #1e1e1e;
      text-align: center;
      margin-bottom: 32px;
      padding-top: 50px; }
    main .second_page .filter {
      padding: 16px 8px;
      max-width: 348px;
      width: 100%;
      background-color: #EEEEEE;
      border-radius: 44px;
      margin-bottom: 40px;
      gap: 10px; }
      main .second_page .filter ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; }
        main .second_page .filter ul li {
          list-style: none;
          background-color: #EEEEEE;
          border-radius: 16px;
          padding: 8px; }
          main .second_page .filter ul li a {
            font-family: 'Gilroy-Regular', sans-serif;
            text-decoration: none;
            color: #1E1E1E;
            font-weight: 400;
            font-size: 18px;
            line-height: 185%; }
          main .second_page .filter ul li:hover {
            background-color: #FFFFFF;
            border-radius: 16px;
            padding: 8px; }
    main .second_page .furniture_carousel {
      display: flex;
      gap: 42px;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      position: relative;
      padding: 0 80px; }
      main .second_page .furniture_carousel .furniture_card {
        max-width: 268px;
        align-items: center;
        background-color: #FAFAFA; }
        main .second_page .furniture_carousel .furniture_card > img {
          width: 219px;
          height: 256px;
          margin-bottom: 20px; }
        main .second_page .furniture_carousel .furniture_card .furniture_card_info {
          padding: 16px;
          background-color: #FFFFFF;
          border-radius: 0 0 16px;
          margin-bottom: 60px; }
          main .second_page .furniture_carousel .furniture_card .furniture_card_info h5 {
            font-family: 'Gilroy-Regular', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #8d8d8d;
            margin-bottom: 6px; }
          main .second_page .furniture_carousel .furniture_card .furniture_card_info h3 {
            font-family: 'gilroybold', sans-serif;
            font-size: 21.33px;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 6px; }
          main .second_page .furniture_carousel .furniture_card .furniture_card_info .price {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 16px;
            flex-wrap: wrap; }
            main .second_page .furniture_carousel .furniture_card .furniture_card_info .price::before {
              content: '';
              display: inline-block;
              background-image: url("../images/$.svg");
              width: 9px;
              height: 15px; }
            main .second_page .furniture_carousel .furniture_card .furniture_card_info .price::after {
              content: '';
              display: inline-block;
              background-image: url("../images/add_icon.svg");
              width: 49px;
              height: 40px;
              margin-left: 140px; }
            main .second_page .furniture_carousel .furniture_card .furniture_card_info .price p {
              font-weight: 600;
              font-size: 21px;
              color: #0d1b39; }
    main .second_page > a {
      font-family: 'Gilroy-Regular', sans-serif;
      text-decoration: none;
      color: #E58411;
      margin-bottom: 50px; }
      main .second_page > a:after {
        content: '';
        display: inline-block;
        width: 39px;
        height: 13px;
        background-image: url("../images/right_arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 10px; }
      main .second_page > a:hover {
        color: #b6690d; }
  main .third_page {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 306px;
    gap: 30px; }
    main .third_page .image_container {
      width: 100%;
      height: 500px;
      z-index: 1;
      position: relative;
      margin-bottom: 120px; }
      main .third_page .image_container img {
        position: absolute;
        z-index: 5;
        box-shadow: -2px 48px 28px -11px rgba(237, 216, 186, 0.5);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 16px 16px 0;
        top: 0;
        left: 0; }
      main .third_page .image_container .background_image1 {
        width: 70%;
        height: 70%;
        background-color: #F7F7F7;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -65px;
        left: -35px;
        z-index: 2;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
      main .third_page .image_container .background_image2 {
        width: 80%;
        height: 80%;
        background-color: #F7F7F7;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 55px;
        left: 195px;
        z-index: 2;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    main .third_page .text_container {
      padding: 0 80px;
      width: 100%;
      background-color: #FFFFFF;
      margin-bottom: 40px; }
      main .third_page .text_container h5 {
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #E58411; }
      main .third_page .text_container h2 {
        font-family: 'gilroybold', sans-serif;
        font-weight: 400;
        font-size: 42px;
        text-transform: capitalize;
        color: #1E1E1E;
        margin-bottom: 20px; }
      main .third_page .text_container p {
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 185%;
        margin-bottom: 24px; }
      main .third_page .text_container a {
        font-family: 'Gilroy-Regular', sans-serif;
        text-decoration: none;
        color: #E58411;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%; }
        main .third_page .text_container a:after {
          content: '';
          display: inline-block;
          width: 39px;
          height: 13px;
          background-image: url("../images/right_arrow.svg");
          margin-left: 13px; }
        main .third_page .text_container a:hover {
          color: #b6690d; }
  main .fourth_page {
    display: flex;
    justify-content: center;
    margin-bottom: 240px; }
    main .fourth_page .fourth_page_text {
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      width: 100%;
      align-items: flex-start;
      margin-bottom: 240px;
      padding: 0 80px; }
      main .fourth_page .fourth_page_text h5 {
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.17em;
        margin-bottom: 20px;
        color: #E58411;
        text-transform: uppercase; }
      main .fourth_page .fourth_page_text h2 {
        font-family: 'gilroybold', sans-serif;
        font-weight: 400;
        font-size: 42px;
        text-transform: capitalize;
        margin-bottom: 20px;
        color: #1E1E1E; }
      main .fourth_page .fourth_page_text p {
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 185%;
        margin-bottom: 24px;
        color: #1E1E1E; }
      main .fourth_page .fourth_page_text a {
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%;
        text-decoration: none;
        color: #E58411; }
        main .fourth_page .fourth_page_text a:after {
          content: '';
          display: inline-block;
          width: 39px;
          height: 13px;
          background-image: url("../images/right_arrow.svg");
          margin-left: 13px; }
        main .fourth_page .fourth_page_text a:hover {
          color: #b6690d; }
    main .fourth_page .fourth_page_images {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px; }
      main .fourth_page .fourth_page_images .fourth_page_images1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
        margin-bottom: 120px; }
      main .fourth_page .fourth_page_images .fourth_page_images2 {
        width: 100%;
        padding: 0 5px; }
  main .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 214px; }
    main .fifth_page .fifth_page_text {
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-top: 60px; }
      main .fifth_page .fifth_page_text h5 {
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 20px;
        color: #E58411;
        text-transform: uppercase; }
      main .fifth_page .fifth_page_text h2 {
        font-family: 'gilroybold', sans-serif;
        font-size: 42px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 60px;
        color: #1E1E1E; }
    main .fifth_page .review_containers {
      display: flex;
      justify-content: center;
      background-color: #FFFFFF;
      width: 100%;
      align-items: center;
      gap: 20px;
      padding: 0 80px; }

footer .footer_container1 {
  display: flex;
  padding: 118px;
  background-color: #F7F7F7; }
  footer .footer_container1 .footer_text {
    width: 100%;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 400;
    line-height: 185%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 152px; }
    footer .footer_container1 .footer_text a {
      font-family: 'Gilroy-Regular', sans-serif;
      color: #1E1E1E;
      text-decoration: none;
      font-size: 28px;
      font-weight: 400;
      line-height: 185%; }
      footer .footer_container1 .footer_text a:hover {
        color: #E58411;
        transform: rotate(360deg);
        transition: transform 0.2s ease; }
    footer .footer_container1 .footer_text p {
      font-family: 'Gilroy-Regular', sans-serif;
      margin-bottom: 60px;
      color: #1E1E1E;
      font-size: 14px;
      font-weight: 400;
      line-height: 185%; }
  footer .footer_container1 .footer_links {
    display: flex;
    gap: 110px; }
    footer .footer_container1 .footer_links ul li {
      list-style: none;
      font-size: 17px;
      padding: 10px; }
      footer .footer_container1 .footer_links ul li:hover {
        background-color: #E58411;
        border-radius: 16px; }
        footer .footer_container1 .footer_links ul li:hover a {
          color: #FFFFFF; }
      footer .footer_container1 .footer_links ul li a {
        font-family: 'Gilroy-Regular', sans-serif;
        color: #1E1E1E;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%; }
      footer .footer_container1 .footer_links ul li:first-of-type {
        color: #F6973F; }
        footer .footer_container1 .footer_links ul li:first-of-type:hover {
          background-color: transparent;
          border-radius: 16px; }
    footer .footer_container1 .footer_links .social_media {
      position: relative; }
      footer .footer_container1 .footer_links .social_media li:not(:first-of-type) a {
        position: relative;
        padding-left: 25px;
        display: inline-block; }
        footer .footer_container1 .footer_links .social_media li:not(:first-of-type) a::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: contain; }
      footer .footer_container1 .footer_links .social_media li:nth-of-type(2) a::before {
        background-image: url("../images/facebook.svg"); }
    footer .footer_container1 .footer_links li:nth-of-type(3) a::before {
      background-image: url("../images/twitter.svg"); }
    footer .footer_container1 .footer_links li:nth-of-type(4) a::before {
      background-image: url("../images/instagram.svg"); }
footer .footer_container2 {
  display: flex;
  justify-content: space-between;
  padding: 118px;
  background-color: #F7F7F7; }
  footer .footer_container2 .copyright {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    footer .footer_container2 .copyright image {
      width: 100px;
      height: 30px;
      margin-right: 10px; }
  footer .footer_container2 .terms_and_conditions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px; }
    footer .footer_container2 .terms_and_conditions a {
      font-family: 'Gilroy-Regular', sans-serif;
      text-decoration: none;
      color: #1E1E1E;
      font-size: 14px;
      font-weight: 400;
      line-height: 185%;
      justify-content: flex-end; }
      footer .footer_container2 .terms_and_conditions a:hover {
        color: #E58411; }

.owl-nav .owl-prev {
  position: absolute;
  top: 35%;
  left: 60px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("../images/black_arrow_left.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 21px 15px;
  background-color: #FFFFFF !important;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .owl-nav .owl-prev span {
    display: none; }
  @media screen and (max-width: 530px) {
    .owl-nav .owl-prev {
      left: 30px;
      top: 35%; } }
  @media screen and (max-width: 320px) {
    .owl-nav .owl-prev {
      left: 20px;
      top: 35%; } }
.owl-nav .owl-next {
  position: absolute;
  top: 35%;
  right: 170px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url("../images/black_arrow_right.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 21px 15px;
  background-color: #FFFFFF !important;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .owl-nav .owl-next span {
    display: none; }
  @media screen and (max-width: 1200px) {
    .owl-nav .owl-next {
      right: 130px;
      top: 35%; } }
  @media screen and (max-width: 1110px) {
    .owl-nav .owl-next {
      right: 110px;
      top: 35%; } }
  @media screen and (max-width: 500px) {
    .owl-nav .owl-next {
      right: 80px;
      top: 35%; } }
  @media screen and (max-width: 530px) {
    .owl-nav .owl-next {
      right: 60px;
      top: 35%; } }
  @media screen and (max-width: 320px) {
    .owl-nav .owl-next {
      right: 10px;
      top: 35%; } }

/*# sourceMappingURL=preprocessor-main.css.map */
