@font-face {
  font-family: 'gilroyblack';
  src: url('../fonts/gilroy-black-webfont.eot');
  src: url('../fonts/gilroy-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-black-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-black-webfont.woff') format('woff'),
  url('../fonts/gilroy-black-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-black-webfont.svg#gilroyblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroybold';
  src: url('../fonts/gilroy-bold-webfont.eot');
  src: url('../fonts/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-bold-webfont.woff') format('woff'),
  url('../fonts/gilroy-bold-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-bold-webfont.svg#gilroybold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroyblack_italic';
  src: url('../fonts/gilroy-blackitalic-webfont.eot');
  src: url('../fonts/gilroy-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-blackitalic-webfont.woff') format('woff'),
  url('../fonts/gilroy-blackitalic-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-blackitalic-webfont.svg#gilroyblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroybold_italic';
  src: url('../fonts/gilroy-bolditalic-webfont.eot');
  src: url('../fonts/gilroy-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/gilroy-bolditalic-webfont.woff') format('woff'),
  url('../fonts/gilroy-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/gilroy-bolditalic-webfont.svg#gilroybold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
  display: block;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

$background-color: #F7F7F7;
$font-orange-color: #E58411;
$text-color: #1E1E1E;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid green;
  border-radius: 50%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  animation: loading 1s linear 3, /* Rotation animation: 3 times */
  fadeOut 0.1s ease-out 2.9s forwards; /* Fade out near the end of the last rotation */
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* Makes the element completely undetectable after fading */
  }
}

header {

  >a {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;

    &:first-of-type {
      position: absolute;
      top: 40px;
      left: 80px;
      z-index: 8;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 40px;
      right: 80px;
      z-index: 8;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  nav {
    align-items: center;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 47px 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin-bottom: 92px;

    ul {
      display: flex;
      list-style: none;
      gap: 65px;
      justify-content: center;

      li {
        a {font-family: 'Gilroy-BoldItalic', sans-serif;
          color: #FFFF;
          font-size: 18px;
          font-weight: 400;
          line-height: 100%;
          text-decoration: none;
        }

        &:first-of-type {
          position: relative;

          &:after {
            content: '';
            background-image: url('../images/Vector.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 10px;
            height: 7px;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
          }
        }

        &:hover {
          color: #FFFF;
          transition: 0.3s;
          transform: scale(1.3);
        }
      }
    }
  }
}

main {
  margin: 0 auto;

  .general_background {
    background-image: url("../images/main_background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 80px 60px 80px;
    position: relative;
    box-shadow: inset 0 -100px 50px -10px rgba(255, 255, 255, 1.0);

    .top_text_page {
      .main_text {
        max-width: 861px;
        margin: 0 auto;
        justify-content: center;
        padding-top: 167px;

        h1 {
          font-family:'gilroybold', sans-serif ;
          text-align: center;
          color: #FFFF;
          font-size: 80px;
          font-weight: 400;
          line-height: 130%;
          margin-bottom: 20px;
        }

        .slogan_text {
          max-width: 606px;
          justify-content: center;
          margin: auto;

          p {
            font-family:'gilroy_italic', sans-serif ;
            text-align: center;
            color: #FFFF;
            font-size: 24px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0;
            margin-bottom: 45px;
          }
        }
      }

      .search_form {
        justify-content: center;
        position: relative;
        max-width: 344px;
        height: 56px;
        display: flex;
        margin: 0 auto;

        input {
          width: 100%;
          height: 100%;
          border-radius: 42px;
          border: 0.86px solid #FFFFFF;
          padding: 8px 8px 8px 20px;
          background-color: transparentize(#FFFFFF, 0.8);
          color: #FFFFFF;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
        }

        button {
          background-color: transparent;
          border: none;
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 40px;
            height: 40px;
          }

          &:hover {
            opacity: 0.8;
          }

          &:active {
            transform: translateY(-50%) scale(0.95);
          }
        }
      }
    }
  }

  .first_page {
    gap: 130px;
    padding: 80px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: $text-color;
    display: flex;
    justify-content: center;
    position: relative;

    h2 {
      font-family: 'gilroybold', sans-serif;
      font-size: 42px;
      font-weight: 400;
      line-height: 100%;
      padding: 20px;
    }

    .more_info {
      display: flex;
      justify-content: space-between;
      gap: 28px;
      margin-bottom: 100px;
      @include max-screen(1120px) {
        gap: 80px;
      }

      h3 {font-family: 'gilroybold', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 20px;
      }

      p {font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 185%;
        color: #1e1e1e;
        margin-bottom: 14px;
      }

      a {font-family: 'Gilroy-Regular', sans-serif;
        text-decoration: none;
        color: $font-orange-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%;

        &:after {
          content: '';
          display: inline-block;
          width: 39px;
          height: 13px;
          background-image: url('../images/right_arrow.svg');
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 10px;
        }

        &:hover {
          color: darken($font-orange-color, 10%);
        }
      }
    }
  }

  .second_page {
    background-color: $background-color;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 306px;

    h2 {
      font-family: 'gilroybold', sans-serif;
      font-weight: 400;
      font-size: 42px;
      color: #1e1e1e;
      text-align: center;
      margin-bottom: 32px;
      padding-top: 50px;
    }

    .filter {
      padding: 16px 8px;
      max-width: 348px;
      width: 100%;
      background-color: #EEEEEE;
      border-radius: 44px;
      margin-bottom: 40px;
      gap: 10px;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        li {
          list-style: none;
          background-color: #EEEEEE;
          border-radius: 16px;
          padding: 8px;

          a {font-family: 'Gilroy-Regular', sans-serif;
            text-decoration: none;
            color: $text-color;
            font-weight: 400;
            font-size: 18px;
            line-height: 185%;
          }

          &:hover {
            background-color: #FFFFFF;
            border-radius: 16px;
            padding: 8px;
          }
        }
      }

    }

    .furniture_carousel {
      display: flex;
      gap: 42px;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      position: relative;
      padding: 0 80px;

      .furniture_card {
        max-width: 268px;
        align-items: center;
        background-color: #FAFAFA;

        > img {
          width: 219px;
          height: 256px;
          margin-bottom: 20px;
        }

        .furniture_card_info {
          padding: 16px;
          background-color: #FFFFFF;
          border-radius: 0 0 16px;
          margin-bottom: 60px;

          h5 {font-family: 'Gilroy-Regular', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #8d8d8d;
            margin-bottom: 6px;
          }

          h3 {font-family: 'gilroybold', sans-serif;
            font-size: 21.33px;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 6px;
          }

          .price {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 16px;
            flex-wrap: wrap;

            &::before {
              content: '';
              display: inline-block;
              background-image: url('../images/$.svg');
              width: 9px;
              height: 15px;
            }

            &::after {
              content: '';
              display: inline-block;
              background-image: url('../images/add_icon.svg');
              width: 49px;
              height: 40px;
              margin-left: 140px;
            }

            p {
              font-weight: 600;
              font-size: 21px;
              color: #0d1b39;
            }
          }
        }
      }
    }

    > a {font-family: 'Gilroy-Regular', sans-serif;
      text-decoration: none;
      color: $font-orange-color;
      margin-bottom: 50px;

      &:after {
        content: '';
        display: inline-block;
        width: 39px;
        height: 13px;
        background-image: url('../images/right_arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 10px;
      }

      &:hover {
        color: darken($font-orange-color, 10%);
      }
    }
  }

  .third_page {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 306px;
    gap: 30px;

    .image_container {
      width: 100%;
      height: 500px;
      z-index: 1;
      position: relative;
      margin-bottom: 120px;

      img {
        position: absolute;
        z-index: 5;
        box-shadow: -2px 48px 28px -11px rgba(237, 216, 186, 0.5);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 16px 16px 0;
        top: 0;
        left: 0;
      }

      .background_image1 {
        width: 70%;
        height: 70%;
        background-color: $background-color;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -65px;
        left: -35px;
        z-index: 2;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .background_image2 {
        width: 80%;
        height: 80%;
        background-color: $background-color;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 55px;
        left: 195px;
        z-index: 2;
        border-radius: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .text_container {
      padding: 0 80px;
      width: 100%;
      background-color: #FFFFFF;
      margin-bottom: 40px;

      h5 {
        font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $font-orange-color;
      }

      h2 {font-family: 'gilroybold', sans-serif;
        font-weight: 400;
        font-size: 42px;
        text-transform: capitalize;
        color: $text-color;
        margin-bottom: 20px;
      }

      p {font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 185%;
        margin-bottom: 24px;
      }

      a {font-family: 'Gilroy-Regular', sans-serif;
        text-decoration: none;
        color: $font-orange-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%;

        &:after {
          content: '';
          display: inline-block;
          width: 39px;
          height: 13px;
          background-image: url('../images/right_arrow.svg');
          margin-left: 13px;
        }

        &:hover {
          color: darken($font-orange-color, 10%);
        }
      }
    }
  }

  .fourth_page {
    display: flex;
    justify-content: center;
    margin-bottom: 240px;

    .fourth_page_text {
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      width: 100%;
      align-items: flex-start;
      margin-bottom: 240px;
      padding: 0 80px;

      h5 {font-family: 'Gilroy-Regular', sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.17em;
        margin-bottom: 20px;
        color: $font-orange-color;
        text-transform: uppercase;
      }

      h2 {font-family: 'gilroybold', sans-serif;
        font-weight: 400;
        font-size: 42px;
        text-transform: capitalize;
        margin-bottom: 20px;
        color: $text-color;
      }

      p {font-family: 'Gilroy-Regular', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 185%;
        margin-bottom: 24px;
        color: $text-color;
      }

      a {font-family: 'Gilroy-Regular', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%;
        text-decoration: none;
        color: $font-orange-color;

        &:after {
          content: '';
          display: inline-block;
          width: 39px;
          height: 13px;
          background-image: url('../images/right_arrow.svg');
          margin-left: 13px;
        }

        &:hover {
          color: darken($font-orange-color, 10%);
        }
      }
    }

    .fourth_page_images {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;

      .fourth_page_images1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: relative;
        margin-bottom: 120px;
      }

      .fourth_page_images2 {
        width: 100%;
        padding: 0 5px;
      }
    }
  }

  .fifth_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 214px;

    .fifth_page_text {
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-top: 60px;

      h5 {font-family: 'Gilroy-Regular', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 20px;
        color: $font-orange-color;
        text-transform: uppercase;
      }

      h2 {font-family: 'gilroybold', sans-serif;
        font-size: 42px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 60px;
        color: $text-color;
      }
    }

    .review_containers {
      display: flex;
      justify-content: center;
      background-color: #FFFFFF;
      width: 100%;
      align-items: center;
      gap: 20px;
      padding: 0 80px;
    }
  }
}

footer {
  .footer_container1 {
    display: flex;
    padding: 118px;
    background-color: $background-color;

    .footer_text {
      width: 100%;
      color: $text-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 185%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-right: 152px;

      a {font-family: 'Gilroy-Regular', sans-serif;
        color: $text-color;
        text-decoration: none;
        font-size: 28px;
        font-weight: 400;
        line-height: 185%;

        &:hover {
          color: $font-orange-color;
          transform: rotate(360deg);
          transition: transform 0.2s ease;
        }
      }

      p {font-family: 'Gilroy-Regular', sans-serif;
        margin-bottom: 60px;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%;
      }
    }

    .footer_links {
      display: flex;
      gap: 110px;

      ul {
        li {
          list-style: none;
          font-size: 17px;
          padding: 10px;

          &:hover {
            background-color: $font-orange-color;
            border-radius: 16px;

            a {
              color: #FFFFFF;
            }
          }

          a {font-family: 'Gilroy-Regular', sans-serif;
            color: $text-color;
            text-decoration: none;
            font-size: 15px;
            font-weight: 400;
            line-height: 160%;
          }

          &:first-of-type {
            color: #F6973F;

            &:hover {
              background-color: transparent;
              border-radius: 16px;
            }
          }
        }
      }

      .social_media {
        position: relative;

        li:not(:first-of-type) {
          a {
            position: relative;
            padding-left: 25px;
            display: inline-block;

            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 20px;
              height: 20px;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }

        li:nth-of-type(2) a::before { // Facebook (second li)
          background-image: url('../images/facebook.svg');
        }
      }

      li:nth-of-type(3) a::before { // Twitter (third li)
        background-image: url('../images/twitter.svg');
      }

      li:nth-of-type(4) a::before { // Instagram (fourth li)
        background-image: url('../images/instagram.svg');
      }
    }
  }

  .footer_container2 {
    display: flex;
    justify-content: space-between;
    padding: 118px;
    background-color: $background-color;

    .copyright {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      image {
        width: 100px;
        height: 30px;
        margin-right: 10px;
      }
    }

    .terms_and_conditions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;

      a {font-family: 'Gilroy-Regular', sans-serif;
        text-decoration: none;
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 185%;
        justify-content: flex-end;

        &:hover {
          color: $font-orange-color;
        }
      }
    }
  }
}

.owl-nav {
  .owl-prev {
    position: absolute;
    top: 35%;
    left: 60px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-image: url('../images/black_arrow_left.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 21px 15px;
    background-color: #FFFFFF !important;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    span {
      display: none;
    }

    @include max-screen(530px) {
      left: 30px;
      top: 35%;
    }

    @include max-screen(320px) {
      left: 20px;
      top: 35%;
    }
  }

  .owl-next {
    position: absolute;
    top: 35%;
    right: 170px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-image: url('../images/black_arrow_right.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 21px 15px;
    background-color: #FFFFFF !important;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    span {
      display: none;
    }

    @include max-screen(1200px) {
      right: 130px;
      top: 35%;
    }
    @include max-screen(1110px) {
      right: 110px;
      top: 35%;
    }
    @include max-screen(500px) {
      right: 80px;
      top: 35%;
    }
    @include max-screen(530px) {
      right: 60px;
      top: 35%;
    }
    @include max-screen(320px) {
      right: 10px;
      top: 35%;
    }
  }
}
















